.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  background-color: firebrick;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
}
