.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  background-color: firebrick;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.main {
  min-height: calc(66.67vh - 1.25rem);
}

.footer {
  min-height: calc(33.33vh - 1.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0.75rem 0;
}
