.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  background-color: firebrick;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.main{
  min-height:calc(67vh - 2.5rem);

}


.footer{
  min-height:calc(33vh- 2.5 rem);
  display:block;
  text-align: center;
}
