.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  background-color: darkolivegreen;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.header-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  padding: 2px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header img {
  height: 20px;
  width: 20px;
}

.grey-img {
  filter: grayscale(1);
  opacity: 0.65;
}

.main {
  min-height: calc(66.67vh - 1.25rem);
}

.footer {
  min-height: calc(33.33vh - 1.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0.75rem 0;
}

.pins {
  background: white;
  border-radius: 5px;
  border: solid 3px white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  height: 50px;
  max-height: 60px;
  max-width: 50px;
  position: absolute;
  top: 50%;
  user-select: none;
  width: 10vw;
  z-index: 1;
}

.pins img {
  height: inherit;
  width: inherit;
  max-width: inherit;
  max-height: inherit;
}

.MyLocation {
  animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  background-color: var(--pulsating-dot, rgb(25, 0, 255));
  border-radius: 50%;
  box-sizing: border-box;
  height: 10px;
  width: 10px;
}

.MyLocation:before {
  animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  background-color: var(--pulsating-dot, rgb(255, 0, 255));
  border-radius: 40px;
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: relative;
  top: -100%;
  width: 300%;
}

@keyframes pulseRing {
  0% {
    transform: scale(0.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulseDot {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
